body{
    background-image: url(https://itsmeyuvraj.w3spaces.com/yuvi_pic.jpg);
    background-repeat: no-repeat;
    background-size: 1700px 900px;
}
#yu, #yuv,#yuvi,#sudu{
    color: rgb(17, 247, 36);
}
